<div class="col-md-6 column">
    {{#if Crumbs}}
    <ul class="breadcrumb">
        {{#Crumbs}}
        <li><a href="{{Url}}">{{Title}}</a> <span class="divider"></span></li>
        {{/Crumbs}}
    </ul>
    {{/if}}
</div>