{{#ShowEdit}}
<div class="col-md-6 column">
  <span class="pull-right">
    <a class="btn btn-primary" href="{{EditUrl}}">
      <em class="glyphicon glyphicon-edit"></em> Improve this doc
    </a>
  </span>
</div>
{{/ShowEdit}}
