<footer>
    <div class="footer">
        <div class="footer container">
            <div class="footer-menu">
                <ul>
                    <li><a class="first" href="http://particular.net/service-platform">Products</a></li>
                    <li><a href="http://particular.net/service-platform">Particular Platform</a></li>
                    <li><a href="http://particular.net/licensing">Licensing</a></li>
                    <li><a href="http://particular.net/downloads">Downloads</a></li>
                </ul>

                <ul>
                    <li><a class="first" href="http://particular.net/support">Services</a></li>
                    <li><a href="http://particular.net/support">Support</a></li>
                    <li><a href="http://particular.net/consulting">Consulting</a></li>
                    <li><a href="http://particular.net/onsite-training">On-site training</a></li>
                </ul>

                <ul>
                    <li><a class="first" href="http://docs.particular.net/">Resources</a></li>
                    <li><a href="http://particular.net/videos-and-presentations">Videos and Presentations</a></li>
                    <li><a href="http://particular.net/contactus#ask-a-question">Ask a question</a></li>
                    <li><a href="http://particular.net/sourcecode">Source code</a></li>
                </ul>

                <ul>
                    <li><a class="first" href="http://particular.net/champions">Community</a></li>
                    <li><a href="http://particular.net/blog">Particular blog</a></li>
                    <li><a href="http://particular.net/discussiongroup">Discussion group</a></li>
                    <li><a href="http://particular.net/champions">Community Champions</a></li>
                </ul>

                <ul>
                    <li><a class="first" href="http://particular.net/about">Company</a></li>
                    <li><a href="http://particular.net/customers">Customers</a></li>
                    <li><a href="http://particular.net/partners">Partners</a></li>
                    <li><a href="http://particular.net/contactus">Contact Us</a></li>
                </ul>
            </div>
            <div class="copyright">
                Copyright 2010-{{Year}} NServiceBus Ltd. doing business as Particular Software. All rights reserved | 
                <a href="http://particular.net/privacy" style="color: rgb(145, 158, 158);">Privacy Policy</a><br>
                All code and samples provided on this site are covered by the <a href="https://opensource.org/licenses/MIT" style="color: rgb(145, 158, 158);">MIT License</a>
            </div>
        </div>
    </div>
</footer>