<div class="row clearfix">
    <nav class="navbar navbar-default" role="navigation">
        <div class="/container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="http://particular.net">
                    <img src="/content/images/particularlogo.png">
                </a>
                &nbsp;
              <a href="/" >
                <img src="/content/images/developerportal.png">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-right" role="search" action="/search" method="GET">
                    <div class="form-group">
                        <input type="text" class="txtSearchBox" name="q" placeholder="search" value="{{Query}}" >
                    </div>
                    <button type="submit" class="searchButton"><img src="/content/images/search.png" /></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="http://particular.net/support" class="dropdown-toggle p-menu-button" data-toggle="dropdown">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu p-dropdown-menu">
                            <li><a href="http://particular.net/support">Support</a></li>
                            <li><a href="http://particular.net/consulting">Consulting</a></li>
                            <li><a href="http://particular.net/onsite-training">On-site training</a></li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="http://particular.net/champions" class="dropdown-toggle p-menu-button" data-toggle="dropdown">Community <b class="caret"></b></a>
                        <ul class="dropdown-menu p-dropdown-menu">
                            <li><a href="http://particular.net/blog">Particular Blog</a></li>
                            <li><a href="http://particular.net/discussiongroup">Discussion Group</a></li>
                            <li><a href="http://particular.net/champions">Community Champions</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>