{{#if PreReleaseVersions}}
  <div class="alert alert-warning">
    This topic contains pre-release documentation (for {{PreReleaseVersions}}) and is subject to change prior to the final release.
  </div>
{{/if}}