<!DOCTYPE html>
<html>
<head>
    {{>Head}}
    <meta name="robots" content="noindex" />
</head>
<body>
    <div id="wrap">
        <div class="container">
            {{>Header}}
            <div class="row">
                {{>Crumbs}}
                {{>Edit}}
            </div>
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9 contentArea">
                    {{>MenuButton}}
                    <h1 class="mainTitle">Tags</h1>
                    <div id="users">
                        <div class="btn-group">
                            <input class="search form-control" placeholder="Search" />
                            <button class="sort btn btn.active btn-default" data-sort="name">
                                Sort by tag
                            </button>
                            <button class="sort btn btn-default" data-sort="count">
                                Sort by count
                            </button>
                        </div>
                        <br>
                        <br>
                        <ul class="list">
                            {{#Tags}}
                            <li>
                                <a href="/tags/{{Key}}" class="name">{{Name}}</a> ({{ArticleCountText}}) <span style="display: none;" class="count">{{ArticleCountOrder}}</span>
                            </li>
                            {{/Tags}}
                        </ul>
                    </div>
                </div>
                <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
                    {{>Navigation}}
                </div>
            </div>
        </div>
    </div>
    {{>Footer}}
    {{>Foot}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script type="text/javascript">
        var options = {
            valueNames: ['name', 'count']
        };

        var userList = new List('users', options);
    </script>

</body>
</html>